@page
@model RamenOrderingWebApp.Pages.Checkout.CheckoutModel
@{
}
<h3 class="text-center">Ramen summary</h3>
<div class="align-content-center">
    <div class="col-3 mx-auto mb-5">
        <img src=@Model.ImagePath class="w-100 rounded" asp-append-version="true" />
        <p>Are you sure you want to order @Model.RamenName?</p>
        <p>Total price for your order is: $@Model.RamenPrice</p>
        <br />
        <a class="btn btn-primary mt-1 mx-auto" asp-area="" asp-page="ThankYou">Confirm Order</a>  
        <a class="btn btn-danger mt-1 mx-auto" asp-area="" asp-page="../RamenMenu">Cancel</a>
    </div>
</div>