@page
@model RamenOrderingWebApp.Pages.Checkout.ThankYouModel
@{
}

<h6 class="text-center mt-4">Thank you, your order has been sent to our chefs!</h6>
<div class="text-center">
    <a class="btn btn-primary mt-1 mx-auto" asp-area="" asp-page="../RamenMenu">Back to menu</a>
</div>
