@page
@model RamenOrderingWebApp.Pages.Forms.CustomiseModel
@{
}
@Html.EnumDropDownListFor(model => model.SoupBase)

<div class="text-center container">
    <h1>Make your own bowl of ramen</h1>
    <form method="post">
        <input type="text" asp-for="Ramen.RamenName" 
        placeholder="Name your masterpiece..." />
        <br />
        <div class="">
        <select asp-for="Ramen.SoupBase" asp-items="Html.GetEnumSelectList<SoupBase>()">
            <input type="checkbox" asp-for="Ramen.ChaSiew2Pc"
                   placeholder="ChaSiew2Pc" /> ChaSiew 2 Pc
            <br />
            <input type="checkbox" asp-for="Ramen.OnsenEgg"
                   placeholder="OnsenEgg" /> OnsenEgg
            <br />
        </div>

        <button class="btn btn-primary mt-1" type="submit">Done</button>

    </form>
</div>