@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This is a practice exercise to learn more about the MVVM architecture, Entity Framework Core, Razor pages, .NET and C#.</p>
