@page
@model IndexModel
@{

}

<div class="text-center">
    <h3 class="display-2">Welcome to Esu-Men</h3>
    <h6 class="display-6">Everyday ramen for the everyday salarymen.</h6>
    <a class="btn btn-primary m-2" asp-area="" asp-page="RamenMenu">Order now</a>
    <div id="carouselExampleFade" class="carousel slide carousel-fade m-2" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/ramenfront_unsplash.com(slash)reddalec.jpg" class="d-block w-100" alt="ramen shop">
            </div>
            <div class="carousel-item">
                <img src="~/images/shop_unsplash.com(slash)matthardy.jpg" class="d-block w-100" alt="ramen shop">
            </div>
            <div class="carousel-item">
                <img src="~/images/shopinner_unsplash.com(slash)alvapratt.jpg" class="d-block w-100" alt="ramen shop">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
